$fontColorBlackLogo: #231f20; // цвет логотипа
$fontColorGrayLogo:#858689; // цвет подписи логотипа
$fontColorPTel: #585755; // цвет заголовка телефона
$fontColorBTel: #373737; // цвет номера телефона
$fontColorNav: #209a28; // цвет навигации
$fontColorCurrentPage: #14961c;

$fontColorContentTitle:#444137; // + tabTitle
$fontColorContentDesc: #595447;
$fontColorContentDescLink: #28b028;
$fontColorArticle: #3a3731;
$fontColorSliderWhite: #fff;
$fontColorSliderGreen: #28b028;
$fontColorAsideMain: #3f3b30;

$fontFamilyKlavika: Arial, sans-serif;
$fontFamilyMyriad: 'Times', sans-serif;
$fontFamilyZurichBT: 'Verdana', sans-serif;
$fontFamilyArial: Arial, sans-serif;


$bgAside:#f4f2ec;