@import '_variables.scss';

.aside{
	float: left;
	width: 247px;
	background:$bgAside;
	height: 100%;
	border: 1px solid #e1dbce;
	border-left: none;
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
	margin-bottom: 20px;
	section{
		padding:20px;
		border-bottom: 1px solid #e1dbce;
		border-left: 1px solid #e8e3da;
		box-shadow: inset -1px 1px 1px #fff;
		&:last-of-type{
			border-bottom: none;
			border-bottom-right-radius: 4px;
		}
		&:first-of-type{
			border-top-right-radius: 4px;
		}
	}
}

// selects styles

.jq-selectbox{
	width: 100%;
	margin-bottom: 18px;
}
.jq-selectbox__select{
	@extend .asideForm;
}
.focused .jq-selectbox__select{
	border-color: #cfcdc5;
	.jq-selectbox__trigger{
		background:#615b49;
	}
	.jq-selectbox__trigger-arrow{
		border-color: #fff transparent transparent transparent;
	}
}
.jq-selectbox__select:hover,
.jq-selectbox__select:focus{
	@extend .asideForm;
	.jq-selectbox__select-text{
		color:$fontColorSelectHover;
	}
	.jq-selectbox__trigger{
		background:#615b49;
	}
	.jq-selectbox__trigger-arrow{
		border-color: #fff transparent transparent transparent;
	}
}
.jq-selectbox__select-text{
	padding-top: 5px;
}
.jq-selectbox__trigger{
	background:#cacaca;
	margin: 2px;
	width: 22px;
	height: 19px;
	border-radius: 3px;
	transition: all 0.3s ease-out;
}
.jq-selectbox__trigger-arrow{
	top:calc(50% - 2.5px);
	right:calc(50% - 4px);
	border-color: #fff transparent transparent transparent;
}
.jq-selectbox li{
	font:11px $fontFamilyArial;
	transition: all 0.3s ease-out;
	&:hover{
		background: url(../img/bgMainNav.jpg) repeat-x 0 50%;
	}
	.selected{
		background: url(../img/bgMainNav.jpg) repeat-x 0 50%;
	}
	&:first-child{
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
	}
	&:last-child{
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
	}
}





// form styles

.asideSearch form:not(:last-of-type){
	margin-bottom: 20px;
}

.asideForm::-webkit-input-placeholder {color:#666666; font:11px $fontFamilyArial;}
.asideForm::-moz-placeholder          {color:#666666; font:11px $fontFamilyArial;}
.asideForm:-moz-placeholder           {color:#666666; font:11px $fontFamilyArial;}
.asideForm:-ms-input-placeholder      {color:#666666; font:11px $fontFamilyArial;}
.asideForm{
	height: 24px;
	color:#666666;
	font:11px $fontFamilyArial;
	border-radius: 4px;
	border: 1px solid #cfcdc5;
	padding-left: 7px;
	background: url(../img/bgTab.jpg) repeat-x 0 75%;
	box-shadow: 0 0 0 3px #e8e5de, inset 0 -1px 1px #fff;
}
.asideForm[type="email"]{
	margin-bottom: 13px;
	width: 100%;
}
.asideForm[type="text"]{
	width: 120px;
	margin-right: 10px;
}
.asideButton{
	@extend .asideForm;
	background: url(../img/bgMainNav.jpg) repeat-x 0 50%;
	width: 67px;
	box-shadow: 0 0 0 3px #d8d5cc, inset 1px 1px 1px #81de41;
	border-color: #0c932f;
	font: 14px $fontFamilyKlavika;
	text-transform: uppercase;
	letter-spacing:-0.7px;
	color: $fontColorSliderWhite;
	text-shadow: 0 -2px  rgba(0, 92, 19, 0.63);

}
.bigButton{
	background:url(../img/bigButton.png);
	height: 42px;
	width: 100%;
	border:none;
	box-shadow: none;
	margin-left: -3px;
	text-align: left;
	line-height: 42px;
	padding-left:25px;

}

// text styles

.asideNewsArticle:not(:last-of-type){
	margin-bottom: 25px;
}
.asideTitle{
	font: 14px $fontFamilyMyriad;
	color: $fontColorAsideMain;
	margin-bottom: 10px;
	text-transform: uppercase;
}
.asideDesc{
	font: 12px $fontFamilyArial;
	color: $fontColorAsideMain;
	margin-bottom: 10px;
}
.asideNewsArticleTitle{
	font:bold 12px/18px $fontFamilyArial;
	color: $fontColorAsideMain;
}
.asideNewsArticleDesc{
	font: 12px/18px $fontFamilyArial;
	color: $fontColorAsideMain;
}