@import '_variables';

body{
	background:url(../img/bgBody.png) repeat;
	a{
		text-decoration: none;
	}
}
.container{
	width: 990px;
	margin: auto;
	min-height: 100vh;
	position: relative;
	padding-bottom: 106px;
}


// header begin
@import 'header.scss';


// main 
main{
	//display: none; //проверка Футер прижат к низу страницы!!!
}
// content 
@import 'content.scss';
@import 'aside.scss';
@import 'contacts.scss';


.footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding: 0 0 70px 0;
}
.footerCopy{
	font:bold 11px/18px $fontFamilyArial;
	color:$fontColorFooterCopy;
}
.footerDesc{
	font: 11px/18px $fontFamilyArial;
	color:$fontColorFoolerDesc;
}