doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title NATURETOUR
    link(rel="stylesheet" href="css/reset.css")
    link(rel="stylesheet" href="css/select2.min.css")
   
    link(rel="stylesheet" href="css/jquery.fs.selecter.min.css")
    link(rel="stylesheet" type="text/css" href="css/bjqs.css")
    link(rel="stylesheet" href="css/main.css")
  body
    .container
        // header
        header.header
            a(href="#").logo NATURETOUR
                br
                span Spend Holidays with Nature
            p.tel For Friendly, Expert advice call 
                br
                b 12 (0) 1234 567890
            ul.siteNav
                li
                    a(href="#") Home
                li
                    a(href="#") How To Book 
                li
                    a(href="#") FAQs 
                li
                    a(href="#") Visit Us
                li
                    a(href="#") Contact Us
            nav.mainNav
                ul
                    li
                        a(href="#") DESTINATIONS
                    li
                        a(href="#") SPECIES
                    li
                        a(href="#") TOUR TYPES  
                    li
                        a(href="#") TOUR LEADERS  
                    li
                        a(href="#") LATE AVAILABILITY
                    li
                        a(href="#") LATEST NEWS 
                    li
                        a(href="#") ABOUT US
            a.currentPage Home


        //main
        main.main
            // content
            .content

                // slider block
                section.sliderBlock
                    #slider
                        ul.bjqs
                            li
                                img(src="img/banner04.jpg", alt="alt")
                                .bjqsDesc
                                    h2 Our
                                        br 
                                        em New Tours
                                    p.
                                        At Naturetour we are constantly adding to and improving our portfolio of wildlife holidays to provide you with an even greater choice of wildlife viewing experiences. 
                                    a(href="#") View new tours...
                            li
                                img(src="img/banner05.jpg", alt="alt")
                                .bjqsDesc
                                    h2 Our
                                        br 
                                        em More Tours
                                    p.
                                        At Naturetour we are constantly adding to and improving our portfolio of wildlife holidays to provide you with an even greater choice of wildlife viewing experiences. 
                                    a(href="#") View new tours...
                            li
                                img(src="img/banner04.jpg", alt="alt")
                                .bjqsDesc
                                    h2 Our
                                        br 
                                        em New Tours
                                    p.
                                        At Naturetour we are constantly adding to and improving our portfolio of wildlife holidays to provide you with an even greater choice of wildlife viewing experiences. 
                                    a(href="#") View new tours...
                            li
                                img(src="img/banner05.jpg", alt="alt")
                                .bjqsDesc
                                    h2 Our
                                        br 
                                        em More Tours
                                    p.
                                        At Naturetour we are constantly adding to and improving our portfolio of wildlife holidays to provide you with an even greater choice of wildlife viewing experiences. 
                                    a(href="#") View new tours...                       
                            
                    h1.contentTitle Naturetour  Wild life Holidays
                    p.contentDesc A selection of worldwide bird watching, wild flower and natural history holidays (including wildlife tours, treks and cruises), all led by expert 
                        a(href="#") naturalist guides. 
                    img(src="img/photographer.png", alt="photographer").contentImg
                

                // tabs block
                section.tabArticle
                    .tabs
                        ul.tabs__caption
                            li.active 
                                h2.tabTitle By Destination
                            li 
                                h2.tabTitle By Species
                            li 
                                h2.tabTitle By Tour Type
                        .tabs__content.active
                            
                            article.article
                                a(href="#")
                                    img(src="img/article1.jpg" alt="animals")
                                    h3.arcticleTitle Africa Holidays
                                    p.articleDesc. 
                                        Few wildlife enthusiasts can resist Africa. Its exceptional abundance and variety of wild animals make it one of the world’s top wildlife holiday destinations.
                            article.article
                                a(href="#")
                                    img(src="img/article2.jpg" alt="animals")
                                    h3.arcticleTitle Americas Holidays
                                    p.articleDesc. 
                                        North, South and Central America are home to an incredible diversity of habitats and species, providing opportunities for wildlife holidays to suit all tastes. 
                            article.article
                                a(href="#")
                                    img(src="img/article3.jpg" alt="animals")
                                    h3.arcticleTitle Antarctica Holidays
                                    p.articleDesc. 
                                        The ‘Great White Continent’ is perhaps the last true wilderness left on earth and ultimate wildlife holiday destination. 
                            article.article
                                a(href="#")
                                    img(src="img/article4.jpg" alt="animals")
                                    h3.arcticleTitle Asia Holidays
                                    p.articleDesc. 
                                        Choose a Naturetour wildlife holiday to Asia and benefit from our experience of over 20 years, and amazing network of local contacts, on this incredibly diverse continent.
                            article.article
                                a(href="#")
                                    img(src="img/article5.jpg" alt="animals")
                                    h3.arcticleTitle Australasia Holidays
                                    p.articleDesc. 
                                        Australia and New Zealand offer extraordinary wildlife in safe, peaceful surroundings. Our tours focus on this continent's unique flora and fauna.
                            article.article
                                a(href="#")
                                    img(src="img/article6.jpg" alt="animals")
                                    h3.arcticleTitle Europe Holidays
                                    p.articleDesc. 
                                        Naturetour wildlife holidays in Europe focus on the outstanding wildlife habitats and species that can be found in the region.

                        .tabs__content
                            
                            article.article
                                a(href="#")
                                    img(src="img/article3.jpg" alt="animals")
                                    h3.arcticleTitle Antarctica Holidays
                                    p.articleDesc. 
                                        The ‘Great White Continent’ is perhaps the last true wilderness left on earth and ultimate wildlife holiday destination. 
                            article.article
                                a(href="#")
                                    img(src="img/article4.jpg" alt="animals")
                                    h3.arcticleTitle Asia Holidays
                                    p.articleDesc. 
                                        Choose a Naturetour wildlife holiday to Asia and benefit from our experience of over 20 years, and amazing network of local contacts, on this incredibly diverse continent.
                            article.article
                                a(href="#")
                                    img(src="img/article5.jpg" alt="animals")
                                    h3.arcticleTitle Australasia Holidays
                                    p.articleDesc. 
                                        Australia and New Zealand offer extraordinary wildlife in safe, peaceful surroundings. Our tours focus on this continent's unique flora and fauna.
                            article.article
                                a(href="#")
                                    img(src="img/article6.jpg" alt="animals")
                                    h3.arcticleTitle Europe Holidays
                                    p.articleDesc. 
                                        Naturetour wildlife holidays in Europe focus on the outstanding wildlife habitats and species that can be found in the region.

                            article.article
                                a(href="#")
                                    img(src="img/article1.jpg" alt="animals")
                                    h3.arcticleTitle Africa Holidays
                                    p.articleDesc. 
                                        Few wildlife enthusiasts can resist Africa. Its exceptional abundance and variety of wild animals make it one of the world’s top wildlife holiday destinations.
                            article.article
                                a(href="#")
                                    img(src="img/article2.jpg" alt="animals")
                                    h3.arcticleTitle Americas Holidays
                                    p.articleDesc. 
                                        North, South and Central America are home to an incredible diversity of habitats and species, providing opportunities for wildlife holidays to suit all tastes. 

                        .tabs__content
                            
                            article.article
                                a(href="#")
                                    img(src="img/article5.jpg" alt="animals")
                                    h3.arcticleTitle Australasia Holidays
                                    p.articleDesc. 
                                        Australia and New Zealand offer extraordinary wildlife in safe, peaceful surroundings. Our tours focus on this continent's unique flora and fauna.
                            article.article
                                a(href="#")
                                    img(src="img/article6.jpg" alt="animals")
                                    h3.arcticleTitle Europe Holidays
                                    p.articleDesc. 
                                        Naturetour wildlife holidays in Europe focus on the outstanding wildlife habitats and species that can be found in the region.
                            article.article
                                a(href="#")
                                    img(src="img/article1.jpg" alt="animals")
                                    h3.arcticleTitle Africa Holidays
                                    p.articleDesc. 
                                        Few wildlife enthusiasts can resist Africa. Its exceptional abundance and variety of wild animals make it one of the world’s top wildlife holiday destinations.
                            article.article
                                a(href="#")
                                    img(src="img/article2.jpg" alt="animals")
                                    h3.arcticleTitle Americas Holidays
                                    p.articleDesc. 
                                        North, South and Central America are home to an incredible diversity of habitats and species, providing opportunities for wildlife holidays to suit all tastes. 
                            article.article
                                a(href="#")
                                    img(src="img/article3.jpg" alt="animals")
                                    h3.arcticleTitle Antarctica Holidays
                                    p.articleDesc. 
                                        The ‘Great White Continent’ is perhaps the last true wilderness left on earth and ultimate wildlife holiday destination. 
                            article.article
                                a(href="#")
                                    img(src="img/article4.jpg" alt="animals")
                                    h3.arcticleTitle Asia Holidays
                                    p.articleDesc. 
                                        Choose a Naturetour wildlife holiday to Asia and benefit from our experience of over 20 years, and amazing network of local contacts, on this incredibly diverse continent.
            // aside
            aside.aside
                section.asideSearch
                    h3.asideTitle Holiday Search
                    p.asideDesc Start your holiday search here:
                    form
                        select.js-example-basic-single
                            option(value="1") Select Region
                            option(value="2") Africa
                            option(value="3") Antarctica 
                            option(value="4") Asia 
                            option(value="5") Australasia
                            option(value="6") Europe 
                            option(value="7") America
                        
                        button.asideButton.bigButton SEARCH HOLIDAYS

                    h3.asideTitle Quick Search
                    p.asideDesc Enter a country or tour code: 
                    form
                        input(type="text" placeholder="Country/Code ...").asideForm
                        button.asideButton SEARCH 
                section.asideSingUp
                    h3.asideTitle Newsletter Signup
                    p.asideDesc New tours, special offers, extra departures and latest news
                    form
                        input(type="email" placeholder="Enter Email ...").asideForm
                        input(type="text" placeholder="Enter Name ...").asideForm
                        button.asideButton Sign Up
                section.asideNews
                    h3.asideTitle Latest News
                    article.asideNewsArticle
                        a(href="#")
                            h4.asideNewsArticleTitle Watch Brown Bears in Sweden
                                br
                                span 11/05/2010
                            p.asideNewsArticleDesc Experience the forest at night and watch Brown Bears – join one of our short breaks i...
                    article.asideNewsArticle
                        a(href="#")
                            h4.asideNewsArticleTitle Watch Brown Bears in Sweden
                                br
                                span 11/05/2010
                            p.asideNewsArticleDesc Experience the forest at night and watch Brown Bears – join one of our short breaks i...
                    article.asideNewsArticle
                        a(href="#")
                            h4.asideNewsArticleTitle Watch Brown Bears in Sweden
                                br
                                span 11/05/2010
                            p.asideNewsArticleDesc Experience the forest at night and watch Brown Bears – join one of our short breaks i...

                        







        
 
    script(src="https://code.jquery.com/jquery-1.12.3.min.js"   integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="   crossorigin="anonymous")
    script(src="js/tabs_localStorage.js")
    script(src="js/bjqs-1.3.min.js")
    script(src="js/select2.min.js")
    script(src="js/main.js")