body {
  background: url(../img/bgBody.png) repeat; }
  body a {
    text-decoration: none; }

.container {
  width: 990px;
  margin: auto; }

.header {
  padding: 15px 0 10px; }

.logo {
  height: 65px;
  background: url(../img/bgLogo.png) no-repeat 0 50%;
  color: #231f20;
  font: 34px/20px Arial, sans-serif;
  text-transform: uppercase;
  float: left;
  margin-left: 25px;
  padding: 17px 0 0 30px; }
  .logo span {
    color: #858689;
    font: 11px "Times", sans-serif;
    text-shadow: 0.75px 1px rgba(255, 255, 255, 0.78); }

.tel {
  width: 700px;
  float: right;
  text-align: right;
  font: 12px "Times", sans-serif;
  color: #585755;
  margin-bottom: 15px;
  text-shadow: 0.75px 1px rgba(255, 255, 255, 0.78); }
  .tel b {
    font: 20px "Times", sans-serif;
    color: #373737;
    text-shadow: none; }
  .tel::after {
    content: ' ';
    display: table;
    clear: both; }

.siteNav {
  float: right;
  margin-bottom: 25px; }
  .siteNav li {
    float: left;
    margin-right: 15px; }
    .siteNav li:last-child {
      margin-right: 0; }
    .siteNav li a {
      font: 13px "Verdana", sans-serif;
      color: #209a28;
      text-transform: uppercase; }
  .siteNav::after {
    content: '';
    display: block;
    clear: both; }

.mainNav, .tabs__caption {
  width: 100%;
  display: table;
  background: url(../img/bgMainNav.jpg) repeat-x;
  box-shadow: inset 1px 1px 1px #81de41;
  border: 1px solid #0c932f;
  border-radius: 4px;
  padding: 10px 0;
  margin-bottom: 15px; }
  .mainNav ul, .tabs__caption ul {
    display: table-row; }
  .mainNav li, .tabs__caption li {
    display: table-cell;
    text-align: center; }
    .mainNav li a, .tabs__caption li a {
      font: bold 15px "Times", sans-serif;
      color: #fff;
      text-shadow: 0 -2px rgba(0, 92, 19, 0.63); }

.currentPage {
  font: 12px/20px Arial, sans-serif;
  color: #14961c;
  text-transform: uppercase;
  margin: 0 0 5px 25px;
  text-shadow: 1px 1px  #fff; }

.main {
  border-radius: 4px;
  border: 1px solid #e1dbce;
  box-shadow: inset 0 0 1px #fff; }

.content {
  width: 741px;
  height: 100%;
  float: left;
  background: #fff;
  padding: 18px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px; }

.sliderBlock {
  position: relative; }

.contentTitle {
  font: 26px "Verdana", sans-serif;
  color: #444137;
  text-transform: uppercase;
  max-width: 450px;
  margin-bottom: 15px; }

.contentDesc {
  font: 12px/20px Arial, sans-serif;
  color: #595447;
  max-width: 450px;
  margin-bottom: 15px; }
  .contentDesc a {
    text-decoration: underline;
    color: #28b028; }

.contentImg {
  position: absolute;
  bottom: -15px;
  right: 45px; }

#slider {
  height: 265px;
  margin-bottom: 25px;
  position: relative; }
  #slider ul {
    border-radius: 7px; }
  #slider img {
    width: 200%; }

.bjqsDesc {
  width: 235px;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  padding: 16px 16px;
  z-index: 2; }
  .bjqsDesc h2 {
    font: 22px/35px "Verdana", sans-serif;
    margin-bottom: 10px; }
    .bjqsDesc h2 em {
      font: 32px/35px "Verdana", sans-serif;
      color: #28b028; }
  .bjqsDesc p {
    font: 12px/18px Arial, sans-serif; }
  .bjqsDesc a {
    font: 12px/18px Arial, sans-serif;
    color: #28b028; }

.tabs {
  width: 100%; }

.tabs__caption {
  background: url(../img/bgTab.jpg) repeat-x;
  border: none;
  box-shadow: inset 0 -1px 1px #fff;
  padding: 0;
  margin-bottom: 25px; }
  .tabs__caption li {
    float: left;
    width: 33.3333%;
    text-align: center;
    cursor: pointer;
    padding: 8px 0;
    border: 1px solid #cfcdc5; }
    .tabs__caption li.active {
      background: url(../img/bgMainNav.jpg) repeat-x;
      box-shadow: inset 1px 1px 1px #81de41;
      border: 1px solid #0c932f;
      position: relative; }
      .tabs__caption li.active .tabTitle {
        color: #fff;
        text-shadow: 0 -2px rgba(0, 92, 19, 0.63); }
        .tabs__caption li.active .tabTitle::before {
          border: none; }
    .tabs__caption li.active::after {
      content: '';
      position: absolute;
      left: calc(50% - 4px);
      bottom: -10px;
      width: 0;
      height: 0;
      border: 4px solid transparent;
      border-top: 6px solid #13961c; }
    .tabs__caption li:first-child {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px; }
    .tabs__caption li:last-child {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px; }

.tabTitle {
  display: inline;
  font: 15px "Verdana", sans-serif;
  color: #444137;
  position: relative; }
  .tabTitle::before {
    content: '';
    position: absolute;
    left: -8px;
    top: calc(50% - 4px);
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-left: 6px solid #43ac2d; }

.tabs__content {
  display: none; }

.tabs__content.active {
  display: block; }

.article {
  width: 220px;
  float: left;
  margin: 0 21px 21px 0; }
  .article:nth-of-type(3n) {
    margin-right: 0; }
  .article:nth-of-type(4n) {
    clear: left; }
  .article img {
    border: 4px solid #e9e6df;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px; }

.arcticleTitle {
  font: bold 14px/20px Arial, sans-serif;
  color: #3a3731;
  margin-bottom: 10px; }

.articleDesc {
  font: 12px/18px Arial, sans-serif;
  color: #3a3731; }

.aside {
  float: left;
  width: 247px;
  background: #f4f2ec;
  height: 100%;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px; }
  .aside section {
    padding: 20px;
    border-bottom: 1px solid #e1dbce;
    border-left: 1px solid #e8e3da;
    box-shadow: inset -1px 1px 1px #fff; }
    .aside section:last-of-type {
      border-bottom: none;
      border-bottom-right-radius: 4px; }
    .aside section:first-of-type {
      border-top-right-radius: 4px; }

.select2-container--default .select2-selection--single .select2-selection__arrow {
  width: 21px;
  height: 19px;
  background: #cacaca;
  border-radius: 3px;
  top: 4px;
  right: 4px; }
  .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-top-color: #fff; }

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-bottom-color: #fff; }

.select2-selection .select2-selection--single:focus .select2-selection__arrow b {
  background: #615b49; }

.asideSearch form:not(:last-of-type) {
  margin-bottom: 20px; }

.asideForm::-webkit-input-placeholder, .asideButton::-webkit-input-placeholder {
  color: #666666;
  font: 11px Arial, sans-serif; }

.asideForm::-moz-placeholder, .asideButton::-moz-placeholder {
  color: #666666;
  font: 11px Arial, sans-serif; }

.asideForm:-moz-placeholder, .asideButton:-moz-placeholder {
  color: #666666;
  font: 11px Arial, sans-serif; }

.asideForm:-ms-input-placeholder, .asideButton:-ms-input-placeholder {
  color: #666666;
  font: 11px Arial, sans-serif; }

.asideForm, .asideButton {
  height: 24px;
  color: #666666;
  font: 11px Arial, sans-serif;
  border-radius: 4px;
  border: 1px solid #cfcdc5;
  padding-left: 7px;
  background: url(../img/bgTab.jpg) repeat-x 0 75%;
  box-shadow: 0 0 0 3px #e8e5de, inset 0 -1px 1px #fff; }

.asideForm[type="email"], [type="email"].asideButton {
  margin-bottom: 13px;
  width: 100%; }

.asideForm[type="text"], [type="text"].asideButton {
  width: 120px;
  margin-right: 10px; }

.asideButton {
  background: url(../img/bgMainNav.jpg) repeat-x 0 50%;
  width: 67px;
  box-shadow: 0 0 0 3px #d8d5cc, inset 1px 1px 1px #81de41;
  border-color: #0c932f;
  font: bold 14px Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: -1px;
  color: #fff;
  text-shadow: 0 -2px rgba(0, 92, 19, 0.63); }

.bigButton {
  background: url(../img/bigButton.png);
  height: 42px;
  width: 100%;
  border: none;
  box-shadow: none;
  margin-left: -3px;
  text-align: left;
  line-height: 42px;
  padding-left: 25px; }

.asideNewsArticle:not(:last-of-type) {
  margin-bottom: 25px; }

.asideTitle {
  font: 14px "Times", sans-serif;
  color: #3f3b30;
  margin-bottom: 10px;
  text-transform: uppercase; }

.asideDesc {
  font: 12px Arial, sans-serif;
  color: #3f3b30;
  margin-bottom: 10px; }

.asideNewsArticleTitle {
  font: bold 12px/18px Arial, sans-serif;
  color: #3f3b30; }

.asideNewsArticleDesc {
  font: 12px/18px Arial, sans-serif;
  color: #3f3b30; }
